@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

:root {
  --color1: hsl(240, 80%, 60%);
  --color2: hsl(352, 89%, 65%);

  --bg-dark: hsl(240, 13%, 15%);
  --game-font: "Press Start 2P";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-dark);
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
  cursor: url("./assets/ui/cursor.png"), auto;
}

section#message {
  font-family: "Press Start 2P";
  display: none;

  width: 620px;
  height: 120px;
}

section#message > #speaker {
  width: fit-content;
  height: 16px;
  margin: 0;

  font-size: 0.5rem;
  color: hsl(248, 44%, 13%);
  background-color: rgb(236, 173, 78);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  /* Clip path to create shape */
  clip-path: polygon(0 0, 93% 0, 100% 40%, 100% 100%, 3% 100%, 0 60%);
}

section#message > p#content {
  height: 90px;
  margin: 0;
  padding: 17px 12px;

  background-image: url("./assets/ui/msg-box.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 615px 120px;

  color: white;

  font-size: 0.7rem;
  line-height: 1.2rem;
}

canvas {
  /* animation-name: drunk; */
  animation-duration: 1200ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes drunk {
  0% {
    filter: blur(0px) hue-rotate(0deg);
    transform: translateX(0);
  }
  25% {
    filter: blur(2px) hue-rotate(120deg);
    transform: translateX(10px);
  }
  75% {
    filter: blur(4px) hue-rotate(240deg);
    transform: translateX(-10px);
  }
  100% {
    filter: blur(0px) hue-rotate(360deg);
    transform: translateX(0);
  }
}
