@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

:root {
  --color1: hsl(240, 80%, 60%);
  --color2: hsl(352, 89%, 65%);

  --bg-dark: hsl(240, 13%, 15%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-dark);
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
}

canvas {
  width: 70%;
  max-width: 960px;
  border: solid 3px var(--color2);
  border-radius: 10px;
}
